<div class="block">
    <div class="comment">
  <%= div_for @project.comments do |c| %>
        <p class="comment_name">
          <strong> 😊 <%= current_user.name %> </strong>
        </p>
        <p class="comment_body">
          <%= c.comment %>
        </p>
        <p class="comment_time is-8 has-text-weight-semibold">
          <%= time_ago_in_words(c.created_at) %> Ago
        </p>
        <p>
          <%= link_to 'Delete', [c.project, c]  , method: :delete , class: "button is-small is-danger" , wrapper: false, data: {alert: "Are you sure?." } %>
        </p>
        <hr>
      <% end %>
    </div>
</div>

